**/.git
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/*.user
**/*.suo
**/.DS_Store
**/Thumbs.db
**/.env
**/secrets.json
**/appsettings.Development.json
**/coverage
**/.idea
**/Dockerfile*
**/docker-compose*.yml
**/azure-pipelines*.yml
**/.github
LICENSE
README.md
